.blog-right-blogs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-right-blog {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

.blog-pic {
  min-width: 267px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 25px;
}

.blog-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-date {
  font-size: 13px;
}

.blog-name {
  font-size: 26px;
  max-width: 550px;
}

.blog-desc {
  font-size: 18px;
  max-width: 550px;
  line-height: 1.5rem;
}

@media (max-width: 767px) {
  .blog-right-blog {
    display: flex;
    flex-flow: column;
    border-bottom: 2px solid gray;
  }
  .blog-pic {
    width: 100%;
    height: 100%;
  }
  .blog-desc {
    padding-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .blog-right-blog {
    text-align: center;
  }
}
